.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
$bottom-color: #CFCFCF;
$font_color:#666666;
$color-wenben:#333;
$color_blue:#227BDB;
$hover:#4283e5!important;
.mod-quick .quick-item__contact {
  display: none;
}
html,body{
  width: 100%;
  height: 100%;

}
.actives{
  color: $color_blue;
  border-bottom: 2px solid $color_blue;
  font-size: 18px!important;
}
.mod-banner-slide-pagination{
  width: 580px!important;
}
.site_footer .footer_info{
  margin-right: 50px;
}
.footer_part_one{
  margin-right: 40px;
  padding-right:50px;
}
.event_yes_login{
  display: none;
}

.site-nav {
  left: 215px;
}
.mod-quick {
  top: 15px;
}
.site-logo .link-logo {
  display: block;
  width: 133.2px;
  height: 72px;


  background-image: url(../images/logo17.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -23px;
}
#Buy_second{
  width: 100%;
  background: #FFF;
}
.Buy_second{
  width: 1200px;
 margin: 0 auto;
  .section1,.section2{
    float: left;
  }
  .section1{
    width:675px ;
    margin-right: 30px;
    h2{
      height: 29px;
      margin-top: 30px;
      font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
      font-weight: 700;
      font-style: normal;
      color:$font_color ;
      border-bottom: 2px solid $bottom-color;
      margin-bottom: 18px;
      p{
        display: inline-block;
        margin-right: 20px;
        height: 29px;
      }
      a{
        float: right;
        color: $color_blue;
        strong{
          display: inline-block;
          width: 14px;
          height: 14px;
          background: $color_blue;
          color: #FFF;
          border-radius:16px ;
          text-align: center;
          line-height: 14px;
        }
      }
    }

    dl{
      padding-bottom: 16px;
      border-bottom: 1px solid $bottom-color;
      dt,dd{float: left}
      dt{
        width: 156px;
        height: 114px;
        margin-right: 19px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      dd{
        width: 500px;
        overflow: hidden;
        position: relative;
        height: 114px;
        h3{
          font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
          font-weight: 700;
          font-style: normal;
          font-size: 18px;
          color: $color-wenben;
          margin-bottom: 18px;
        }
        p{
          font-family: 'ArialMT', 'Arial';
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          color: #666666;
          line-height: 25px;
        }
        a{
          display: block;
          font-family: 'ArialMT', 'Arial';
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          color: #06736A;
          position: absolute;
          bottom: 0;
          em{
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-left: 8px solid $color-wenben;
            border-bottom: 4px solid transparent;
          }
        }
        a:hover{
          color: $hover;
        }
      }
    }

    ul{
      padding-top: 14px;

      li{
        a{
          display: block;
          height: 15px;
          line-height: 15px;
          padding-bottom: 14px;
          font-size: 13px;

          font-family: 'ArialMT', 'Arial';
          font-weight: 400;
          font-style: normal;
          em{
            display: inline-block;
            width: 15px;
            height: 15px;
            background: $bottom-color;
            margin-right: 10px;
          }
          strong{
            float: right;
          }
        }
      }
    }
  }
  .section2{
    h2 {

      height: 29px;
      margin-top: 30px;
      font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
      font-weight: 700;
      font-style: normal;
      color: $font_color;
      border-bottom: 2px solid $bottom-color;
      margin-bottom: 8px;
      p {
        display: inline-block;
        margin-right: 20px;
        height: 29px;
      }
    }
    width: 495px;
    ul{
      width:  510px;
      li{
        width: 156px;
        height: 70px;
        border: 1px solid $bottom-color;
        line-height: 72px;
        text-align: center;
        margin:10px 0;
        margin-right: 12px;
        float: left;

        img{
          width: 120px;
          transition: transform 1.5s ease-out;
        }
      }
      li:hover{
        img{

          transform: rotateY(360deg);

        }
      }
    }
  }

}
#Buy_third{
  width: 100%;
  background: #FFF;
}
.Buy_third{
  width: 1200px;
  margin: 0 auto;
}
.Buy_third_one,.Buy_third_two{
  display: inline-block;
}
.Buy_third_one{
  width: 388px;
  margin-right: 15px;
  h2{
    height: 29px;
    margin-top: 30px;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    color:$font_color ;
    border-bottom: 2px solid $bottom-color;
    margin-bottom: 18px;
    p{
      display: inline-block;
      margin-right: 20px;
      height: 29px;
    }
    a{
      float: right;
      color: $color_blue;
      strong{
        display: inline-block;
        width: 14px;
        height: 14px;
        background: $color_blue;
        color: #FFF;
        border-radius:16px ;
        text-align: center;
        line-height: 14px;
      }
    }
  }
}
.Buy_third_two{
  width: 793px;
  h2{
    height: 29px;
    margin-top: 30px;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    color:$font_color ;
    border-bottom: 2px solid $bottom-color;
    margin-bottom: 18px;
    p{
      display: inline-block;
      margin-right: 20px;
      height: 29px;
    }
    a{
      float: right;
      color: $color_blue;
      strong{
        display: inline-block;
        width: 14px;
        height: 14px;
        background: $color_blue;
        color: #FFF;
        border-radius:16px ;
        text-align: center;
        line-height: 14px;
      }
    }
    em{
      display: inline-block;
      font-family: 'Arial-Black', 'Arial Black';
      font-weight: 900;
      font-style: normal;
      font-size: 12px;
      color: #FFFFFF;
      width: 123px;
      height: 21px;
      background: url(../images/u188.png) no-repeat center;
      text-align: center;
      line-height: 21px;
      position: relative;
      left: -20px;
    }
  }
}

.panel-center-wrap{
  width: 773px!important;
  height: 478px!important;
}
.center_count{
  padding:10px;
  ul{

    li{
      a{
        color: #666666;
      }
      a:hover{
        color: $hover;
      }
     position: relative;
      width: 346.5px;
      height: 135px;
      overflow: hidden;
      margin: 0 10px ;
      border-bottom:1px dashed $bottom-color ;
      float: left;
      padding: 10px;
    }
    li:nth-of-type(5){
      border-bottom:none ;
    }
    li:nth-of-type(6){
      border-bottom:none ;
    }
   h3{
     font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
     font-weight: 700;
     font-style: normal;
     font-size: 14px;
     color: #333;
     margin-bottom: 14px;
   }
    p{
      font-family: 'ArialMT', 'Arial';
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
      line-height: 25px;
    }
    div{
      width: 346.5px;
      position: absolute;
      bottom: 10px;
      color: $bottom-color;
      b{
        font-style:normal;
        font-weight:normal;
      }
      em{
        float: right;
        font-style:normal;
      }
    }
  }
}
.mb15s{
  background: #FFF;padding: 10px!important;
}